<% layout('/layouts/boilerplate') -%>
<body>
    <h3>Create a new listing</h3>
    <form action="/listings/" method="post">
        <input type="text" name="listing[title]" placeholder="Enter name">
        <br><br>
        <textarea name="listing[description]" placeholder="Enter description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter image url">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter price">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter country">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter location">
        <br><br>
        <button>Add</button>
    </form>
    
</body>